.addcom {
  background-color: #9ab973; 
  border: none;
  color: white;
  padding: 25px 42px;
  margin: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.addcom:hover {
  background-color: #b3b3b3; 
  border: none;
  color: white;
  padding: 25px 42px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;

}