.details-main {
  width: 75vw;
  margin: auto;
}

.go-back {
  margin-bottom: 0px;
  margin-top: 10px;
  display: flex;
  justify-content: right;

  }

.go-back-button {
  margin-right: auto;
  margin-left: auto;
  padding: 15px 32px;
  font-size: 1rem;
  width: 12vw;
  background-color: #E4572E; 
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}



.go-back-button:hover {
  background-color: #b3b3b3; 
  text-decoration: none;
  cursor: pointer;
}

.details-container {
  position: relative;
  margin-top: 5vw;
  display: flex;
  background-color: $honeydew;
  box-shadow: 0 3px 10px $mossGreen;
  border-radius: 10px;
  
  
}

.delete-button {
  margin-left: 60vw;
  margin-bottom: 20vw;
  display: block;
  background-color: #444; 
  border: none;
  color: white;
  padding: .5rem .5rem;
  text-align: center;
  text-decoration: none;
  font-size: 1.7vw;
  letter-spacing: .1rem;
  position: relative;
  top: 5%;
  border-radius: 5px;
  width: 15vw; 
  
}


.delete-button:hover {
  margin-left: 60vw;
  margin-bottom: 20vw;
  display: block;
  background-color: #555; 
  border: none;
  color: white;
  padding: .5rem .5rem;
  text-align: center;
  text-decoration: none;
  font-size: 1.7vw;
  letter-spacing: .1rem;
  position: relative;
  top: 5%;
  border-radius: 5px;
  width: 15vw; 
  }

.details-image {
  border-radius: 10px;
  height: 25vw;
  margin-right: 20px;
  padding-left: 5px;
  padding-top: 5px;

}

.details-content {
  // border: solid black 1px;
  // height: 25vw;
 }

.details-title {
  // border: solid black 1px;
}

.details-description {
  // border: solid black 1px;
  padding-top: 10px;
}

.details-expiry {
  // border: solid black 1px;
  padding-top: 10px;

}

.details-phone {
  // border: solid black 1px;
  padding-top: 10px;

}

.testy {
  display: flex;
}
