$honeydew: #F0F8EA;
$mossGreen: #9D9C62;
$olivine: #9AB973;
// $flame: #E4572E;
$flame: #d77f64;
$laserLemon: #FFFF66;

@import url('https://fonts.googleapis.com/css2?family=Water+Brush&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+HK:wght@300&display=swap');


html {
  background-color: $honeydew;
  font-family: 'Noto Sans HK', sans-serif;
}

.nav-container {
  display: flex;
  background-color: $mossGreen;
  width: 100vw;
  height: 8vh;
  justify-content: center;
  align-items: center;
}


.pataka {
  width: 15vw;
  height: 7vh;
  font-size: 3vw;
  // font-family: Georgia;
  text-decoration: none;
  color: inherit;
  // text-align: center;
  font-family: 'Water Brush', cursive;
  display: flex;
  justify-content: center;
  align-items: center;

}

.space {
  width: 65vw;
}

.clickies {
  width: 9vw;
  text-align: center;
  padding-top: 1vh;
  font-size: 2vw;
  text-decoration: none;
  color: inherit;
  // font-family: 'Water Brush', cursive;
  // font-family: 'Yanone Kaffeesatz', sans-serif;
  font-family: 'Noto Sans HK', sans-serif;
}

.clickies:hover {
  width: 9vw;
  text-align: center;
  padding-top: 1vh;
  font-size: 2vw;
  text-decoration: none;
  color: inherit;
  background-color: $olivine;
}



// landing page start


.section {
  width: 100%;
}

.container {
  position: relative;
 text-align: center;
  margin: 0 auto;
  color: #444;
  font-size: 14px;
  font-weight: 300;
  font-family: Roboto, 'Open Sans', Arial, sans-serif;
  overflow: hidden;
}

.section .container {
  padding: 30px 0 50px 0;
}

.section.bg {
  background: #f7f7f7;
  
    flex-wrap: wrap
  }
  



// .homemaindiv {
//   text-align: center;
//   width: 100%;
//   position: relative;
//   width: 1170px;
//   margin: 0 auto;
//   color: #444;
//   font-size: 14px;
//   font-weight: 300;
//   font-family: Roboto, 'Open Sans', Arial, sans-serif;
//   overflow: hidden;
// }



/* 
  Columns 
*/



.col {
  float: left;
  padding: 0;
  margin: 0;
  position: relative;

}

.col.four {
  width: 23%;
  margin: 0 1%;
}

.col.three {
  width: 31.3%;
  margin: 0 1%;
}

.col.two {
  width: 40%;
  margin: 0 2.5%;
  padding: 0 2.5%;
}

.col.extrapad {
  padding-top: 20px;
  padding-bottom: 20px;
}

.col .service,
.col .feature {
  font-size: 21px;
  font-weight: 300;
  font-family: 'Roboto Slab', sans-serif;
}

.col .service:after {
  content: "";
  width: 50px;
  position: relative;
  border-bottom: 1px solid #eee;
  display: block;
  text-align: center;
  margin: auto;
  margin-top: 15px;
}

.col .feature {
  font-size: 19px;
}

.col h1.side,
.col p.side,
.col span.side:first-of-type {
  margin-left: 50px;
  text-align: left;
}

.col .icon {
  border-radius: 50%;
  height: 85px;
  width: 85px;
  line-height: 85px;
  text-align: center;
  margin: 0 auto;
  transition: background 0.25s linear, color 0.25s linear;
}

.col .icon.side {
  position: absolute;
  padding: 0;
  margin: 0;
  top: -15px;
  height: 50px;
  width: 50px;
}

.col:hover > .icon {
  background: #F44336;
  color: white;
}

.col:hover > .icon.side {
  background: initial;
  color: initial;
}

.responsivegroup {
  display: none;
}
/*
  Column specifics
*/

.col p,
.col h1 {
  padding: 0 1%;
  text-align: center;
}

.group.margin {
  margin-bottom: 20px;
}

.col .imgholder {
 
  height: 300px;
  width: 100%;
  background: #333;
  transition: background 0.3s linear;
}

.col.bg {
  background: #FFF;
}

.col.pointer {
  cursor: pointer;
}

.col.bg:hover .imgholder {
  background: #555;
}

.col span.feature {
  font-size: 20px;
}
/*
  Text
*/

.container > h1:not(.hero) {
  margin-bottom: 30px;
  text-align: center;
}

.container > h1:after {
  content: "";
  width: 30px;
  position: relative;
  border-bottom: 1px solid #aaa;
  display: block;
  text-align: center;
  margin: auto;
  margin-top: 15px;
}

h2 {
  font-family: 'Roboto Slab', sans-serif;
  text-align: center;
  font-weight: 400;
  font-size: 18px;
}

//columns end

//buttons start

.gotfood {
  background-color: #9ab973; 
  border: none;
  color: white;
  padding: 25px 42px;
  margin: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.gotfood:hover {
  background-color: #b3b3b3; 
  border: none;
  color: white;
  padding: 25px 42px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;

}


.needfood {
  background-color: #E4572E; 
  border: none;
  color: white;
  padding: 25px 42px;
  margin: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}


.needfood:hover {
  background-color: #b3b3b3; 
  border: none;
  color: white;
  padding: 25px 42px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.buttonscontainer {
  display: flex;
  justify-content: center;
}
//buttons end


//landing page end

// Listings start

.listings-title {
  text-align: center;
}

.food-image {
  // width:25vw;
  height: 28vh;
  border-radius: 2%;
}

.one-food {
  margin-left: 3vw;
  margin-right: 3vw;
  // border: solid black 1px;
  text-align: center;
  // position: relative;
  height: 50vh;
  width: 40vw;
  background-color: $honeydew;
  box-shadow: 0 3px 10px $mossGreen
}

.all-food-container {
  display: flex;
  overflow: auto;
  white-space: nowrap;
  padding-top: 10px;
  padding-bottom: 20px;
}

.details-button {
  display: block;
  margin-right: auto;
  margin-left: auto;
  background-color: #E4572E; 
  border: none;
  color: white;
  padding: 25px 42px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  position: relative;
  top: 35%;
  // left: 25%;
  // bottom: 2vh;
  // left: 8.5vw;
}


.details-button:hover {
  display: block;
  margin-right: auto;
  margin-left: auto;
  background-color: #b3b3b3; 
  border: none;
  color: white;
  padding: 25px 42px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
}

.add-food {
  display: block;
  margin-top: 20px;
  margin-right: auto;
  margin-left: auto;
  background-color: #E4572E; 
  border: none;
  color: white;
  padding: 25px 42px;
  text-align: center;
  text-decoration: none;
  font-size: 1.5rem;
  width: 15vw;
}

.details-btn-container {
  justify-content: center;
  width: 40vw;
  height: 15vh;
  // position: relative;
  // left: auto;
  // bottom: -10px;
}

.listing-title {
  width: 40vw;
  height: 5vh;
}

.listing-image {
  width: 40vw;
  height: 25vh;
}

// Listings end

// details start

.details-main {
  // border: solid black 1px;
  width: 75vw;
  margin: auto;
}

.go-back {
  margin-bottom: 10px;
  margin-top: 10px;
  // margin-left: 10px;
  // border: solid black 1px;
  // text-decoration: none;
  display: flex;
  justify-content: center;

  }

.go-back-button {
  margin-right: auto;
  margin-left: auto;
  padding: 15px 32px;
  font-size: 1rem;
  width: 12vw;
  background-color: #E4572E; 
  border: none;
  color: white;
  // margin: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.go-back-button:hover {
  background-color: #b3b3b3; 
  text-decoration: none;
  cursor: pointer;
}

.details-container {
  display: flex;
  // border: solid black 1px;
  background-color: $honeydew;
  box-shadow: 0 3px 10px $mossGreen
}

.details-image {
  height: 25vw;
  margin-right: 20px;
  padding-left: 5px;
  padding-top: 5px;
  // border: solid black 1px

}

.details-content {
  // border: solid black 1px;
  // height: 25vw;
 }

.details-title {
  // border: solid black 1px;
}

.details-description {
  // border: solid black 1px;
  padding-top: 10px;
}

.details-expiry {
  // border: solid black 1px;
  padding-top: 10px;

}

.details-phone {
  // border: solid black 1px;
  padding-top: 10px;

}

.testy {
  display: flex;
}

// details end


// Add food form start 

.add-form {
  width: 50vw;
  text-align: center;
  background-color:  $flame;
  border-radius: 5%;
  box-shadow: 0 3px 10px $flame
}

.add-form-container {
  display: flex;
  justify-content: center;
}

.text-fields {
  width: 25vw;
  height: 5vh;
  font-size: 1.2rem;
}

.add-form-btn {
  width: 17vw;
  height: 7vh;
  font-size: 2rem;
}

// Add food form end