$honeydew: #F0F8EA;
$mossGreen: #9D9C62;
$olivine: #9AB973;
$flame: #d77f64;
$laserLemon: #FFFF66;

@import url('https://fonts.googleapis.com/css2?family=Water+Brush&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+HK:wght@300&display=swap');

html {
  background-color: white;
  font-family: 'Noto Sans HK', sans-serif;
}

body {
  display: flex;
  justify-content: center;
  margin: 0px;
}

@import "navbar";

@import "footer";

@import "landingpage";

@import "listings";

@import "details";

@import "login";

@import "addComment";