h1 {
  font-weight: 200;
  font-size: 3vw;
}

.section {
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  max-width: 1920px;
}

.section .container {
  padding: 30px 0 50px 0;
}

.welcome-banner {
  display:flex;
  flex-direction: column;
  width: 100%;
  border-radius: 10px;
  background-color: $honeydew;
}

.basket-img {
  width: 20vw;
}

.title-container {
  position: relative;
  text-align: center;
  margin: 0 auto;
  color: #444;
  font-size: 14px;
  font-weight: 300;
  font-family: 'Noto Sans HK', sans-serif;  
  overflow: hidden;
}

.hometitle {
    border-bottom: solid black 1px;
    padding: 10px;
}

.buttonscontainer {
  display: flex;
  justify-content: center;
}

.buttonscontainer a {
  text-decoration: none;
}

.button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin: 20px;
  padding: .5rem .5rem;
  border-radius: 5px;
  color: #fff;
  width: 20vw;
  max-width: 300px;
  font-size: 1.7vw;
  letter-spacing: .1rem;
  transition: all .3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
  border: none;

  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $olivine;
    border-radius: 5px;    
    z-index: -2;
  }

  &:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: darken($olivine, 15%);
    transition: all .3s;
    border-radius: 5px;    
    z-index: -1;
  }

  &:hover {
    color: white;
    cursor: pointer;

  &:before {
    width: 100%;
    }
  }
}

.button img {
  height: 5vh;
}

.values-section {
  text-align: center;
  padding-bottom: 10vh;
}

.values-container {
  display: flex;
}

.container {
  position: relative;
  text-align: center;
  margin: 0 auto;
  color: #444;
  font-size: 14px;
  font-weight: 300;
  font-family: 'Noto Sans HK', sans-serif;
  overflow: hidden;
}

.col {
  float: left;
  padding: 0;
  margin: 0;
  position: relative;
}

.col.three {
  width: 31.3%;
  margin: 1%;
}

.col .feature {
  font-size: 2vw;
}

.col p,
.col h1 {
  padding: 0px 20px;
  text-align: center;
  font-size: 1.2vw;
}

.imgholder {
  width: 100%;
}

.imgholder img {
  border-radius: 5px;
  width: 100%;
}


.footer {
  bottom: 0;
  width: 100%;
  height: 10%;
  background-color: $mossGreen;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  max-width: 1920px;
}

.footer h1 {
  font-size: 1.6vw;
  margin-bottom: 0px;
}

.footer h2 {
  font-size: 1vw;
  margin-top: 0px;
}

h2 {
  font-family: 'Noto Sans HK', sans-serif;
  text-align: center;
  font-weight: 400;
  font-size: 18px;
}

.bottom-txt {
  font-family: 'Noto Sans HK', sans-serif;
    text-align: center;
    margin-top: 2px;
}