@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+HK:wght@300&display=swap');

.listings-title {
  font-family: 'Noto Sans HK', sans-serif;
  color: #444;
  text-align: center;
}

.food-image {
  height: 28vh;
  border-radius: 2%;
}

.one-food {
  margin-left: 3vw;
  margin-right: 3vw;
  text-align: center;
  height: 50vh;
  width: 40vw;
  background-color: $honeydew;
  box-shadow: 0 3px 10px $mossGreen;
}

.all-food-container {
  display: flex;
  overflow: scroll;
  flex-wrap: nowrap;
  padding-top: 10px;
  padding-bottom: 20px;
  max-width: 100vw;
}

.details-button {
  top: 35%;
  margin-right: auto;
  margin-left: auto;
  width: 15vw;
  font-size: 1.5rem;
  padding: 5px 32px;
  border-radius: 5px;
  color: #fff;
  height: 5vh;
  letter-spacing: .1rem;
  transition: all .3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
  border: none;

  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $olivine;
    border-radius: 5px;    
    z-index: -2;
  }

  &:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: darken($olivine, 15%);
    transition: all .3s;
    border-radius: 5px;    
    z-index: -1;
  }

  &:hover {
    color: white;
    cursor: pointer;

  &:before {
    width: 100%;
  }
}
}

.add-food {
  text-decoration: none;
  display: block;
  margin-right: auto;
  margin-left: auto;
  width: 15vw;
  font-size: 1.5rem;
  padding: 5px 32px;
  border-radius: 5px;
  color: #fff;
  height: 5vh;
  letter-spacing: .1rem;
  transition: all .3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
  border: none;
  text-align: center;

  &:after {
    text-decoration: none;
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $olivine;
    border-radius: 5px;    
    z-index: -2;
  }

  &:before {
    text-decoration: none;
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: darken($olivine, 15%);
    transition: all .3s;
    border-radius: 5px;    
    z-index: -1;
  }

  &:hover {
    text-decoration: none;
    color: white;
    cursor: pointer;
    
  &:before {
    text-decoration: none;
    width: 100%;
    }
  }

}

a {
  text-decoration: none;
}

.details-btn-container {
  justify-content: center;
  width: 40vw;
  height: 15vh;
}

.listing-title {
  font-family: 'Noto Sans HK', sans-serif;
  color: #444;
  width: 40vw;
  height: 5vh;
}

.listing-image {
  width: 40vw;
  height: 25vh;
}