.login-register-container {
  justify-content: center;
}

.form {
  background-color: $honeydew;
  box-shadow: 0 3px 10px $mossGreen;
  padding: 10px;
  margin: auto;
  margin-bottom: 30px;
  margin-top: 30px;
  width: 60vw;
  justify-content: center;
  border-radius: 10px;
}

.submit-button {
  // display: flex;
  // flex-direction: row;
  // align-items: center;
  // justify-content: space-evenly;
  margin-bottom: 5px;
  padding: 5px 32px;
  border-radius: 5px;
  color: #fff;
  width: 90%;
  height: 5vh;
  // max-width: 300px;
  font-size: 1.2rem;
  letter-spacing: .1rem;
  transition: all .3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
  border: none;

  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $olivine;
    border-radius: 5px;    
    z-index: -2;
  }

  &:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: darken($olivine, 15%);
    transition: all .3s;
    border-radius: 5px;    
    z-index: -1;
  }

  &:hover {
    color: white;
    cursor: pointer;

  &:before {
    width: 100%;
    }
  }
}

.login-title {
  margin: 0px;
}

.input-container {
  display: flex;  
}

.single-container {
  margin-right: 15px;
  width: 31%;
}

.input {
  font-size: 1.2rem;
}

.input-field {
  margin-top: 10px;
  padding: 4px;
  width: 90%;
  height: 5vh;
  font-size: 1.2rem;
  border-radius: 10px;
  border-color: white;
}

.submit-container {
  display: flex;
  align-items: flex-end;
}





