@import url('https://fonts.googleapis.com/css2?family=Water+Brush&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+HK:wght@300&display=swap');


.nav-container {
  display: flex;
  flex-direction: row;
  background-color: $mossGreen;
  justify-content: center;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.nav-items {
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 80%;
}

.pataka {
  display: flex;  
  font-size: 3rem;
  text-decoration: none;
  color: inherit;
  font-family: 'Water Brush', cursive;
  padding: 10px;
}

.clickies {
  text-align: center;
  font-size: 1.4rem;
  padding: 7px;
  text-decoration: none;
  color: inherit;
  font-family: 'Noto Sans HK', sans-serif;
}

.clickies:hover {
  text-align: center;
  color: white;
}