@import url(https://fonts.googleapis.com/css2?family=Water+Brush&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Noto+Sans+HK:wght@300&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Water+Brush&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Noto+Sans+HK:wght@300&display=swap);
html {
  background-color: white;
  font-family: "Noto Sans HK", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  margin: 0px;
}

.nav-container {
  display: flex;
  flex-direction: row;
  background-color: #9D9C62;
  justify-content: center;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.nav-items {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 80%;
}

.pataka {
  display: flex;
  font-size: 3rem;
  text-decoration: none;
  color: inherit;
  font-family: "Water Brush", cursive;
  padding: 10px;
}

.clickies {
  text-align: center;
  font-size: 1.4rem;
  padding: 7px;
  text-decoration: none;
  color: inherit;
  font-family: "Noto Sans HK", sans-serif;
}

.clickies:hover {
  text-align: center;
  color: white;
}

h1 {
  font-weight: 200;
  font-size: 3vw;
}

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  max-width: 1920px;
}

.section .container {
  padding: 30px 0 50px 0;
}

.welcome-banner {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-radius: 10px;
  background-color: #F0F8EA;
}

.title-container {
  position: relative;
  text-align: center;
  margin: 0 auto;
  color: #444;
  font-size: 14px;
  font-weight: 300;
  font-family: "Noto Sans HK", sans-serif;
  overflow: hidden;
}

.hometitle {
  border-bottom: solid black 1px;
  padding: 10px;
}

.buttonscontainer {
  display: flex;
  justify-content: center;
}

.buttonscontainer a {
  text-decoration: none;
}

.button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin: 20px;
  padding: 0.5rem 0.5rem;
  border-radius: 5px;
  color: #fff;
  width: 20vw;
  max-width: 300px;
  font-size: 1.7vw;
  letter-spacing: 0.1rem;
  transition: all 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
  border: none;
}
.button:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #9AB973;
  border-radius: 5px;
  z-index: -2;
}
.button:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: #74954b;
  transition: all 0.3s;
  border-radius: 5px;
  z-index: -1;
}
.button:hover {
  color: white;
}
.button:hover:before {
  width: 100%;
}

.button img {
  height: 5vh;
}

.values-section {
  text-align: center;
  padding-bottom: 10vh;
}

.values-container {
  display: flex;
}

.container {
  position: relative;
  text-align: center;
  margin: 0 auto;
  color: #444;
  font-size: 14px;
  font-weight: 300;
  font-family: "Noto Sans HK", sans-serif;
  overflow: hidden;
}

.col {
  float: left;
  padding: 0;
  margin: 0;
  position: relative;
}

.col.three {
  width: 31.3%;
  margin: 1%;
}

.col .feature {
  font-size: 2vw;
}

.col p,
.col h1 {
  padding: 0px 20px;
  text-align: center;
  font-size: 1.2vw;
}

.imgholder {
  width: 100%;
}

.imgholder img {
  border-radius: 5px;
  width: 100%;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 10%;
  background-color: #9D9C62;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  max-width: 1920px;
}

.footer h1 {
  font-size: 1.6vw;
  margin-bottom: 0px;
}

.footer h2 {
  font-size: 1vw;
  margin-top: 0px;
}

h2 {
  font-family: "Noto Sans HK", sans-serif;
  text-align: center;
  font-weight: 400;
  font-size: 18px;
}

.bottom-txt {
  font-family: "Noto Sans HK", sans-serif;
  text-align: center;
  margin-top: 2px;
}

.listings-title {
  text-align: center;
}

.food-image {
  height: 28vh;
  border-radius: 2%;
}

.one-food {
  margin-left: 3vw;
  margin-right: 3vw;
  text-align: center;
  height: 50vh;
  width: 40vw;
  background-color: #F0F8EA;
  box-shadow: 0 3px 10px #9D9C62;
}

.all-food-container {
  display: flex;
  overflow: scroll;
  flex-wrap: nowrap;
  padding-top: 10px;
  padding-bottom: 20px;
  max-width: 100vw;
}

.details-button {
  display: block;
  margin-right: auto;
  margin-left: auto;
  background-color: #E4572E;
  border: none;
  color: white;
  padding: 25px 42px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  position: relative;
  top: 35%;
}

.details-button:hover {
  display: block;
  margin-right: auto;
  margin-left: auto;
  background-color: #b3b3b3;
  border: none;
  color: white;
  padding: 25px 42px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
}

.add-food {
  display: block;
  margin-top: 20px;
  margin-right: auto;
  margin-left: auto;
  background-color: #E4572E;
  border: none;
  color: white;
  padding: 25px 42px;
  text-align: center;
  text-decoration: none;
  font-size: 1.5rem;
  width: 15vw;
}

.details-btn-container {
  justify-content: center;
  width: 40vw;
  height: 15vh;
}

.listing-title {
  width: 40vw;
  height: 5vh;
}

.listing-image {
  width: 40vw;
  height: 25vh;
}

.details-main {
  width: 75vw;
  margin: auto;
}

.go-back {
  margin-bottom: 10px;
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

.go-back-button {
  margin-right: auto;
  margin-left: auto;
  padding: 15px 32px;
  font-size: 1rem;
  width: 12vw;
  background-color: #E4572E;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.go-back-button:hover {
  background-color: #b3b3b3;
  text-decoration: none;
  cursor: pointer;
}

.details-container {
  display: flex;
  background-color: #F0F8EA;
  box-shadow: 0 3px 10px #9D9C62;
}

.details-image {
  height: 25vw;
  margin-right: 20px;
  padding-left: 5px;
  padding-top: 5px;
}

.details-description {
  padding-top: 10px;
}

.details-expiry {
  padding-top: 10px;
}

.details-phone {
  padding-top: 10px;
}

.testy {
  display: flex;
}

.add-form {
  width: 50vw;
  text-align: center;
  background-color: #d77f64;
  margin-top: 4vh;
  border-radius: 5%;
  box-shadow: 0 3px 10px #d77f64;
}

.add-form-container {
  display: flex;
  justify-content: center;
}

.text-fields {
  width: 25vw;
  height: 5vh;
  font-size: 1.2rem;
}

.add-form-btn {
  width: 17vw;
  height: 7vh;
  font-size: 2rem;
}

.login-register-container {
  justify-content: center;
}

.form {
  background-color: #F0F8EA;
  box-shadow: 0 3px 10px #9D9C62;
  padding: 10px;
  margin: auto;
  margin-bottom: 30px;
  margin-top: 30px;
  width: 60vw;
  justify-content: center;
}

.submit-button {
  padding: 5px 32px;
  background-color: #E4572E;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.submit-button:hover {
  background-color: #b3b3b3;
  text-decoration: none;
  cursor: pointer;
}

.login-title {
  margin: 0px;
}

.input-container {
  display: flex;
}

.single-container {
  margin-right: 15px;
  width: 31%;
}

.input-field {
  margin-top: 10px;
  padding: 4px;
  width: 85%;
}

.submit-container {
  display: flex;
  align-items: flex-end;
}

.addcom textarea {
  font-family: inherit;
  width: 14rem;
}

.addcom form {
  display: flex;
}

.addcombtn {
  background-color: #9ab973;
  border: none;
  color: white;
  padding: 25px 42px;
  margin-left: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.addcombtn:hover {
  background-color: #b3b3b3;
  border: none;
  color: white;
  padding: 25px 42px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.bubble-title {
  padding-top: 4px;
}

.bubble-content {
  display: block;
  position: relative;
  width: 400px;
  padding: 2px 20px;
  border-radius: 10px;
  background-color: #ffffff;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
}

.bubble {
  margin-top: 20px;
}

.bubble-container {
  flex-direction: column;
  padding-top: 10px;
}

/*# sourceMappingURL=styles.css.map*/